/* Animación para el fade-in */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: white;
}

/* Cuadros con Fade */
.info-box {
  background-color: #333;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
  width: 300px;  /* Para que sean cuadrados */
  height: 300px; /* Altura igual a la del ancho */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;  /* Inicialmente ocultos */
  animation: fadeInUp 1s forwards;  /* Efecto de fade-in */
  animation-delay: 0.5s;  /* Para que aparezcan con un pequeño retraso */
}

.info-box h3 {
  font-weight: bold;
  color: yellow;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.info-box p {
  color: white;
  font-size: 1rem;
  text-align: center;
  line-height: 1.4;
  margin-top: 10px;
}

/* Secciones de la descripción */
.secciones-descripcion {
  padding: 40px;
  background-color: #1a1a1a;
}

.descripcion-box {
  background-color: #333;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.4);
}

.descripcion h2 {
  font-weight: bold;
  color: yellow;
  font-size: 1.8rem;
  margin-bottom: 15px;
}

.descripcion p {
  color: white;
  font-size: 1.1rem;
}

/* Footer */
.footer {
  background-color: #000;
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
