/* Reseteo básico de márgenes y padding */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body y estructura principal */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  padding: 20px;
}

header .logo img {
  height: 50px;
}

header nav ul {
  list-style: none;
  display: flex;
}

header nav ul li {
  margin-left: 30px;
}

header nav ul li a {
  color: yellow;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

header nav ul li a:hover {
  color: white;
}

/* Carrusel */
.carrusel {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  margin-top: 20px;
}

.carousel-container {
  display: flex;
  transition: transform 1s ease-in-out;
}

.carousel-item {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
}

.carousel-item video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.carousel-text {
  posit
